/* Define Font Size Variables */
:root {
  --base-font-size: 1rem;
  --title-font-size: 2rem;
  --subtitle-font-size: 1rem;
  --input-font-size: 1.5rem;
  --button-font-size: 1.8rem;
  --slider-value-font-size: 1.5rem;
  --item-title-font-size: 1.5rem;
  --item-description-font-size: 1rem;
}

/* General Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--base-font-size);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #333;
}

/* Header Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 0.5rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 15vh;
  max-height: auto;
  flex-wrap: wrap;
}

.info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.country-flag {
  height: 100%;
  width: auto;
  max-height: 13vh;
}

#participant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  text-align: left;
}

.song-title {
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: 1rem;
  color: #fff;
  overflow-wrap: break-word;
  text-align: left;
}

.performer-name, .country-name {
  font-size: var(--subtitle-font-size);
  margin-bottom: 0.75rem;
  color: #fff;
}

.container {
  width: 100%;
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  margin-top: 15vh;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

h4 {
  margin-bottom: 1.5rem;
  font-size: var(--subtitle-font-size);
  color: #333;
}

input, textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: var(--input-font-size);
}

textarea {
  resize: vertical;
}

#submit {
  border: none;
  background-color: #333;
  color: #fff;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-size: var(--button-font-size);
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 1rem;
}

#submit:hover {
  background-color: #555;
}

.slider-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.slider {
  flex: 1;
  margin-right: 1rem;
  -webkit-appearance: none;
  appearance: none;
  height: 0.4rem; /* Thinner track */
  background: #ddd;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
}

.slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: #333;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
}

.slider-value {
  width: 3rem;
  text-align: center;
  font-size: var(--slider-value-font-size);
  color: #333;
}

.item-title {
  font-weight: bold;
  font-size: var(--item-title-font-size);
  margin-bottom: 0.5rem;
  color: #333;
}

.item-description {
  font-size: var(--item-description-font-size);
  color: #555;
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .song-title {
    font-size: calc(var(--title-font-size) * 0.8);
  }
  .performer-name, .country-name {
    font-size: calc(var(--subtitle-font-size) * 0.8);
  }
  .container {
    padding: 1.5rem;
  }
  h4 {
    font-size: calc(var(--subtitle-font-size) * 0.8);
  }
  #submit {
    font-size: calc(var(--button-font-size) * 0.8);
    padding: 1rem;
  }
  .item-title {
    font-size: calc(var(--item-title-font-size) * 0.8);
  }
  .item-description {
    font-size: calc(var(--item-description-font-size) * 0.8);
  }
  .slider-value {
    font-size: calc(var(--slider-value-font-size) * 0.8);
  }
}
