<style>
  /* Estils bàsics per mostrar la funcionalitat */
  /* Estils bàsics per mostrar la funcionalitat */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1c1c1c;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center; /* Centrar verticalment la imatge i el text */
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }

  .header .info {
    display: flex;
    align-items: center; /* Centrar verticalment la imatge i el text */
  }

  .header .info img {
    height: 106px; /* Altura fixa per la imatge */
    margin-right: 20px; /* Separar la imatge del text */
  }

  .header h1 {
    margin: 0;
    font-size: 18px;
  }

  .country-name {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
  }
  .performer-name {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
  }
  .song-name{
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      font-size: 20px;
  }

  .content {
    margin-top: 100px;
    padding: 20px;
  }

  .item {
    margin-bottom: 20px;
  }

  .item-title {
    font-weight: bold;
  }

  .slider-container {
    display: flex;
    align-items: center;
  }

  .slider {
    margin: 0 10px;
    flex-grow: 1;
  }

  .slider-value {
    width: 40px;
    text-align: center;
  }

  .button-container {
    text-align: center;
    margin-top: 20px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: #45a049;
  }

    </style>
